<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Tests do not include trace or span ID's, so we can use a simpler pattern -->
            <pattern>
                [%d{ISO8601}] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- For tests, we'll use TRACE level logging -->
    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
