<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- The expectation is that logs should include trace and span ID's (Open Telemetry) -->
            <pattern>
                [%d{ISO8601}] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Wrap logging appender, for example ConsoleAppender, with OpenTelemetryAppender -->
    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="TRACE">
        <appender-ref ref="OTEL" />
    </root>
</configuration>
